@charset "utf-8";

html{
	font-size: 16px;
	font-family: 'josephin-sans','open-sans', arial, sans-serif;
	color: #898989;
	background-color: #ececec;
	/*overflow: hidden;*/

}


/*stylings for the homepage*/

.wrapperHp {
	width: 100vw;
	min-height: 100vh;
	background-image: url('../images/home-page-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

/*styling for the navigation*/

nav{
	width: 60%;
	margin: 1rem auto;
	text-align: center;
}

nav ul li{
	display: inline-block;
	font-size: 1.4rem;
}

nav ul li img{
	width: 7vh;
	padding: 0 1.5em;

}

nav ul li a:link, nav ul li a:visited{
	/*display: inline-block;*/
	color: #898989;
	text-decoration: none;

}

nav ul li a:hover, nav ul li a:active{
	color: #22acdd;
}

.flex-container{
	display: flex;
}

.mainHeaders{
	width: 40%;
	text-align: center;
	margin-left: 5rem;
	margin-top: 8rem;
}

.mainHeaders h1{
	font-size: 3rem;
	padding: 0.2rem;
	line-height: 4rem;
}

.mainHeaders p{
	font-size: 1.3rem;
	font-weight: 100;
	color: #000;
	letter-spacing: 0.14rem;
}

.mainHeaders .newsletter p{
	padding: 3rem 0 2rem 0;
	width: 100%;
	font-size: 1rem;
	letter-spacing: 0;
	line-height: 1.4rem;
	text-align: justify;
}
/*styling for the cards*/

.cardsContainer {
	width: 35%;
	padding-top: 10rem;
	margin-bottom: 2rem;
	margin-left: 5rem;
}

.cardsContainer .card{
	width: 80%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	border-radius: 3%;
	margin: 0 auto;

}

.cardsContainer .card:nth-of-type(2){
	width:90%;
	margin: -70% auto 0 auto;
}

.cardsContainer .card:nth-of-type(3){
	width:100%;
	margin: -70% auto 0 auto;
}

.cardsContainer .card img{
	width: 100%;
}

.cardsContainer .card p {
	text-transform: uppercase;
	text-align: center;
	margin: 0.8rem;
	padding-bottom: 1.5rem;
}

/*styling for the dialog box*/
/*styling for the dialog box*/
.ui-dialog {
	background-color: white;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 5px;
	min-width: 50vw;
	box-sizing: border-box;
}

.ui-dialog-titlebar {
	border-bottom: 1px solid black;
	padding-bottom: 1rem;
	font-weight: bold;
	box-sizing: border-box;
}

#dialogForm {
	padding: 1rem;
	box-sizing: border-box;
}

#dialogForm form div, #dialogForm form div input {
	padding: 0.5rem;
	min-width: 100%;
	box-sizing: border-box;
}

#dialogForm form input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

#dialogForm form input[type="date"]:focus:before,
#dialogForm form input[type="date"]:valid:before {
	content: "";
}

#dialogForm .tips {
	margin: 10px 0;
}

#dialogForm .formErrors {
	color: red;
	margin: 10px 0;
}

.ui-dialog  {
	z-index: 10;
}

.ui-state-error {
	border-color: red;
}

.ui-state-success {
	border-color: green;
}

.ui-dialog-titlebar-close {
	float: right;
}

.ui-widget-overlay {
	position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#signUp {
	color: #22acdd;
	padding: 0.5rem 2rem;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

#signUp:hover{
	color: white;
	background-color: #22acdd;
}

/*styling for the footer*/

footer{
	position: fixed;
	clear: both;
	width: 100vw;
	bottom: 0;
	text-align: center;
	font-style: italic;
	background-color: white;
	padding: 0.5rem;
}


/*styling for the motherboard page*/

.wrapperMb {
	width: 80vw;
	margin: 0 auto;
	overflow: hidden;
}


.mbDesc{
	float: left;
	height: 40vh;
	padding: 5rem 0 0 4rem;
	background-image: url('../images/motherboardBg.png');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.mbDesc .pss{
	width: 30%;
	float: left;
}

.mbDesc .pss p{
	padding: 0 0 2rem 0;
	line-height: 1.4rem;
	font-weight: 100;
}

.mbDesc .subHeaders {
	float: left;
	width: 20%;
	margin: 5rem;
	/*position: absolute;
	top: 60vh;
	left: 50vw;*/
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.03rem;
	font-weight: 100;
	text-shadow: 0 0 rgba(0, 0, 0, 0.2);

}

.theMotherboard{
	clear: both;
	overflow: hidden;
	background-color: #ececec;
	padding-top: 5rem;
}


.theMotherboard img{
	width: 40%;
	float: left;
	margin-left: 5rem;
	padding-bottom: 5rem;
}

.listing {
	float: right;
	width: 45%;
	margin-top: 3rem;
}

.listing h2 {
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: #22acdd;
}

.listing p{
	padding:0.5rem 5rem 1.5rem 0;
	line-height: 1.4rem;
	font-weight: 100;
}

/*styling for the peripherals page*/

.peri {
	text-align: center;
	padding-top: 2rem;
}

.peri h1{
	width: 60%;
	margin: -5rem auto 0 auto;
	font-size: 1.5rem;
	padding: 0.2rem;
	text-transform: uppercase;
}

.peri h1 span{
	font-style: italic;
	padding: 0.2rem;
	line-height: 4rem;
	color: #22acdd;
}
#gallery {
	width: 70%;
	margin: 3rem auto 0 auto;
}

/* styling for mobile view */

@media screen and (max-width: 560px) {
	/*styling for the homepage*/
	
	nav {
		width: 100vw;
	}
	
	nav ul li {
		display: block;
	}
	
	.flex-container{
		flex-direction: column;
	}

	.mainHeaders {
		width: 90vw;
		margin: 3rem auto 0 auto;
	}
	
	.cardsContainer {
		width: 80vw;
		margin: 0 auto 2rem auto;
		padding-top: 3rem;
	}
	
	.cardsContainer .card:nth-of-type(1){
		width: 60%;
		
	}
	
	.cardsContainer .card:nth-of-type(2){
		margin: -60% auto 0 auto;
		width: 70%;
	}

	.cardsContainer .card:nth-of-type(3){
		margin: -60% auto 0 auto;
		width: 80%;
	}

}
